<section>
    <h1>Últimas Coberturas</h1>
    <article id="coberturas">
        {{#if coberturas}}
            {{#each coberturas}}
            <div class="eventSingle">
                <img src="../assets/coberturas/cover3.webp" alt="{{{nomeCobertura}}}">
                <h2>{{{nomeCobertura}}}</h2>
                <a href="./coberturas/{{_id}}">Conferir</a>
            </div>
            {{/each}}
        {{else}}
            <h4>Ainda não temos coberturas disponível.</h4>
        {{/if}}
    </article>
</section>
<section id="agenda">
    <h1>Agenda Cultural</h1>
    <article>
        {{#if agenda}}
            {{#each agenda}}
                <section>
                    <section>
                        <div>{{{dia}}}</div>
                        <div>{{{mes}}}</div>
                    </section>
                    <section>
                        <div>{{{artista}}}</div>
                        <div>{{{local}}} às {{{horario}}}</div>
                    </section>
                </section>
            {{/each}}
        {{else}}
            <h4>Ainda não temos agenda confirmada.</h4>
        {{/if}}
    </article>
</section>