<section>
    <h1>Últimas Coberturas</h1>
    <article id="coberturas">
        {{#if coberturas}}
            {{#each coberturas}}
            <div class="eventSingle">
                <img src="../assets/coberturas/{{{cover}}}.webp" alt="{{{nomeDoEvento}}}">
                <h2>{{{nomeDoEvento}}}</h2>
                <a href="#">Conferir</a>
            </div>
            {{/each}}
        {{else}}
            <h4>Ainda não temos coberturas disponível.</h4>
        {{/if}}
    </article>
</section>
<section id="agenda">
    <h1>Agenda Cultural</h1>
    <article>
        {{#if agenda}}
            {{#each agenda}}
                <section>
                    <section>
                        <div>{{{dia}}}</div>
                        <div>{{{mes}}}</div>
                    </section>
                    <section>
                        <div>{{{banda}}}</div>
                        <div>{{{local}}} às {{{horario}}}h00</div>
                    </section>
                </section>
            {{/each}}
        {{else}}
            <h4>Ainda não temos agenda confirmada.</h4>
        {{/if}}
    </article>
</section>