<section>
    <h1>Coberturas</h1>
    <article>
        {{#if coberturas}}
            {{#each coberturas}}
            
            {{/each}}
        {{else}}
            <h4>Ainda não temos coberturas disponível.</h4>
        {{/if}}
    </article>
</section>
<section id="agenda">
    <h1>Agenda Semanal</h1>
    <article>
        {{#if agenda}}
            {{#each agenda}}
                <h3>{{{data}}} | {{{banda}}} - {{{local}}} às {{{horario}}}hrs</h3>
            {{/each}}
        {{else}}
            <h4>Ainda não temos agenda confirmada.</h4>
        {{/if}}
    </article>
</section>